:root {
  --arch-colour: #6c63;
  --background-colour: #f9f7fe;
  --heading-font-family: "Poppins", sans-serif;
  --default-font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
  font-weight: bold;
}

h1 {
  font-size: 75px;
  padding-bottom: 20px;
}

h2 {
  font-size: 40px;
}

p {
  font-family: var(--default-font-family);
  font-size: 16px;
}

nav {
  padding: 30px 0;
}

nav ul {
  padding: 17px 0;
  text-align: right;
  color: black;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 15px;
  margin-left: 7px;
}

nav a {
  text-decoration: none;
  color: black;
}

nav a:hover,
nav li.active a {
  color: darkgreen;
  transition: all 100ms ease-in-out;
}

.hero {
  background-color: var(--background-colour);
  text-align: center;
  padding: 80px 10px;
}

.hero h2 {
  font-family: var(--heading-font-family);
  font-weight: normal;
  font-size: 25px;
}

.btn-find-out-more {
  background: var(--arch-colour);
  border-radius: 4;
  font-size: 18px;
  line-height: 27px;
  padding: 12px 20px;
}

.btn-sub-find-out-more {
  border-style: solid;
  border-width: 3px;
  border-color: var(--arch-colour);
  border-radius: 4;
  font-size: 18px;
  line-height: 27px;
  padding: 12px 20px;
}

.description {
  padding-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
}

.book {
  height: 414px;
}

.sub-page-top-section h1 {
  font-size: 65px;
  padding-bottom: 20px;
}

.sub-page-top-section h2 {
  font-family: var(--heading-font-family);
  font-weight: normal;
  font-size: 25px;
}

.sub-page-top-section {
  background-color: white;
  text-align: center;
  padding: 40px 10px;
}

.arch_logo {
  max-width: 150px;
  max-height: 60px;
}

footer .contact-box {
  background-color: var(--background-colour);
  padding: 30px 120px;
}

footer .contact-box p {
  margin: 0;
}

footer .email-link {
  text-decoration: none;
  color: black;
  font-size: 24px;
  text-align: center;
}

footer .email-link:hover {
  color: darkgreen;
}

footer .social-links a {
  margin: 0 20px;
  color: darkgreen;
  background-color: var(--background-colour);
  padding: 10px 15px;
  font-size: 20px;
  border-radius: 50%;
}

footer .social-links a:hover {
  color: white;
  background-color: darkgreen;
  transition: all 100ms ease-in-out;
}

@media (max-width: 960px) {
  h1 {
    font-size: 40px;
  }
  .description {
    text-align: center;
  }
  .hero {
    padding: 80px 5px;
  }
  .sub-page-top-section h1 {
    font-size: 40px;
  }

  .sub-page-top-section h2 {
    font-size: 20px;
  }

  .sub-page-top-section {
    padding: 80px 5px;
  }

  .arch_logo {
    max-width: 100px;
    max-height: 40px;
    margin-left: 10px;
  }

  nav ul {
    padding-top: 0;
    padding-left: 3px;
  }

  nav a {
    font-size: 14px;
  }

  footer .contact-box {
    padding: 20px;
  }

  footer .contact-box h4 {
    font-size: 18px;
  }

  footer .contact-box p {
    font-size: 14px;
  }
}
